<%- include('includes/head') %>
<%- include('includes/navbar') %>

<section class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-5">
      <h1 class="display-1 text-center">Seja bem vindo</h1>
      <p class="text-center lead">Faça login para acessar seu perfil, ou registre-se para criar sua lista de contatos.</p>
    </div>
    <div class="col-lg-2"></div>
  </div>
</section>
<%- include('includes/footer') %>